:root {
  --max-width: 600px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #092e49;
  color: #fafafa;
  font-family: 'Pushster', cursive;
}

.App {
  padding: 20px;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  max-width: 600px;
  place-items: center;
  margin: auto;
}

.title-container {
  max-width: var(--max-width);
  margin: auto;
}

@media screen and (min-width: 600px){
  .gameboard {
    grid-template-columns: repeat(4,1fr);
  }
  
  .title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.title {
  text-align: center;
}

/* CARD */
.card {
  display: inline-block;
  width: 120px;
  height: 120px;
  text-align: center;
  background-color: #09161b;
  color: white;
  border-radius: 4px;
  margin: 10px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(0deg) rotateY(182deg) rotateZ(0deg);
  position: relative;
  transition: all 300ms ease-in;
  cursor: pointer;
  border-radius: 4px;
}

.card:after {
  content: '';
  right: 0px;
  bottom: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 4px;
  background: #09161b;
  transform: rotateY( 180deg );
  transform-style: preserve-3d;
  backface-visibility: visible;
  transition: all 300ms ease-in;
}

.card:hover::after {
  background-color: #3b6f84;
}

/* flip card */
.card-container .card.rotate {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.card-container .card.rotate::after {
  transform: scale(0)
}

.card__image {
  max-width: 100%;
  padding: 20px;
}